.section-1 {
  float: left;
  background: url(../images/section-1.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-bottom: 300px;
  align-items: center;
}

.section-2 {
  float: left;
  background: url(../images/section-2.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-bottom: 90px;
}

.section-3 {
  float: left;
  background: url(../images/section-3.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-bottom: 90px;
}

.section-4 {
  float: left;
  background: url(../images/section-4.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  padding-bottom: 120px;
}

.section-5 {
  float: left;
  background: url(../images/section-5.jpg) no-repeat center center;
  background-position: center -350px;
  background-size: cover;
  width: 100%;
  padding-bottom: 120px;
}

/* ABOUT US */

.about {
  padding-top: 90px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 66.5%;
}

.greenButton1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #a4fc2b;
  text-align: center;
  border-radius: 40px;
  font-size: 18px;
  line-height: 24px;
}

.sec1-block2 {
  color: white;
  font-size: 58px;
  text-align: center;
  /* font-size: 72px; */
}

.sec1-block3 {
  color: white;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
}

.sec1-block4 button {
  padding: 10px 36px;
  border: none;
  background-color: white;
  color: #062732;
  height: 50px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* SOLUTION */

.solution {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;

  width: 55%;
  margin: 0 auto;
}

.greenButton2 {
  padding: 10px 20px;
  background-color: #a4fc2b;
  text-align: center;
  border-radius: 40px;
  font-size: 14px;
}

.sec2-block2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

.sec2-block3 {
  color: white;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  /* font-size: 20px; */
  line-height: 30px;
}

.sec2-block4 {
  border: 1px solid #136259;
  background-color: #093e41;
  border-radius: 20px;
  padding: 70px 40px;
  padding-top: 10px;
  text-align: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.sec2-block4 button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 36px;
  border: none;
  background-color: white;
  color: #062732;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  height: 50px;
  border-radius: 8px;
  margin-top: -35px;
}

/* BENEFITS */

.Benefits {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sec3-block2 {
  color: #053539;
  text-align: center;
  font-size: 40px;
}

.sec3-block3 {
  display: grid;
  gap: 14px;
  grid-template-columns: auto auto;
}

.salesTeam {
  border-radius: 8px;
  border: none;
  background: #19ba59;
  color: white;
  font-weight: 600;
  padding: 10px 36px;
  font-size: 20px;
  line-height: 24px;
}

.productTeam {
  border-radius: 8px;
  border: 1px solid #062732;
  background: transparent;
  padding: 10px 36px;
  color: #062732;
  font-size: 20px;
  line-height: 24px;
}

.sec3-block4 {
  display: grid;
  gap: 30px;
  grid-template-columns: 300px 300px 300px;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.sec3-block4 p {
  width: 80%;
}

.sec3-block4-box1 {
  background: url(../images/block-3-1.png) no-repeat center center;
  height: 460px;
  background-size: contain;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 70px 40px;
  justify-content: start;
  gap: 20px;
}

.sec3-block4-box2 {
  background: url(../images/block-3-2.png) no-repeat center center;
  background-size: contain;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 70px 40px;
  justify-content: start;
  gap: 20px;
}

.sec3-block4-box3 {
  background: url(../images/block-3-3.png) no-repeat center center;
  background-size: contain;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 70px 40px;
  justify-content: start;
  gap: 20px;
}

.sec3-block4 img {
  padding: 6px 6px;
  border-radius: 50%;

  background-color: white;
}

/* Advantages */

.Advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}

.sec4-block2 {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.sec4-block3 {
  display: grid;
  grid-template-columns: 660px 300px;
  align-items: center;
  justify-content: center;
  gap: 30px;

  font-weight: 500;
  font-size: 24px;
}

.sec4-block3 img {
  padding: 6px 6px;
  background-color: white;
  border-radius: 50%;
}

.sec4-block3-box1 {
  color: #ffffff;
  background: url(../images/block-4-1.png) no-repeat center center;
  background-size: contain;
  height: 460px;
  padding: 70px 40px;
  line-height: 27px;
}

.sec4-block3-box1 div {
  width: 45%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
}

.sec4-block3-box1 .box1-description {
  font-weight: 400;
  font-size: 16px;
}

.sec4-block3-box2 {
  color: #053539;
  background: url(../images/block-4-2.png) no-repeat center center;
  background-size: contain;
  height: 460px;
  padding: 70px 40px;

  display: grid;
  gap: 20px;
  grid-template-rows: auto 1fr;
}

/* insights */

.Insights {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 55%;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.sec5-block2 {
  font-size: 40px;
  text-align: center;
  color: #062732;
  padding-left: 100px;
  padding-right: 100px;
}

.sec5-block3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.sec5-block4 {
  border: none;
  background-color: #f4f4f4;
  color: #acacac;
  font-size: 16px;
  padding: 15px 76px;
  border-radius: 8px;
  text-align: center;
  width: 80%;
}

.sec5-block5 button {
  border: none;
  background-color: #19ba59;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 10px 36px;
  border-radius: 8px;
}

/* responsive */

@media screen and (max-width: 1024px) {
  .section-1 {
    background: url(../images/tab-section1.png) no-repeat center top;
    padding-bottom: 500px;
  }

  .section-2 {
    background: url(../images/tablet-section2.png) no-repeat center top;
    padding-bottom: 90px;
  }

  .section-3 {
    background: url(../images/tablet-section3.jpg) no-repeat center top;
    padding-bottom: 90px;
    background-position: center -60px;
  }

  .section-4 {
    background: url(../images/tablet-section4.png) no-repeat center top;
  }

  .section-5 {
    background: url(../images/tablet-section5.jpg) no-repeat center top;
    padding-bottom: 90px;
    background-position: center -300px;
  }

  .about {
    padding-top: 120px;
    width: 80.5%;
    gap: 80px;
  }
  .sec1-block2 {
    padding: 0 50px;
  }

  .solution {
    width: 80.5%;
  }

  .sec2-block3 {
    padding-bottom: 100px;
  }

  .sec3-block4 {
    grid-template-columns: 270px 270px 270px;
  }
  .sec3-block4-box1,
  .sec3-block4-box2,
  .sec3-block4-box3 {
    height: 360px;
    padding: 30px 30px;
  }

  .sec4-block3 {
    grid-template-columns: 570px 270px;
  }

  .sec4-block3-box1,
  .sec4-block3-box2 {
    height: 360px;
    padding: 30px 30px;
    font-size: 22.5px;
  }
  .sec4-block3 p {
    font-size: 22.5px;
  }

  .sec4-block3-box1 .box1-description {
    font-size: 13px;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20.25px;
  }

  .Insights {
    width: 62.5%;
  }

  .sec5-block2 {
    padding: 0px;
  }
  .sec5-block5 button {
    font-size: 18px;
  }
}
